body {
  background-image: url(./assets/PinkBackground.jpg);
  background-size: cover;
  background-position: left;
}

h1 {
  font-size: 40px;
  color: rgb(6, 7, 7);
  /* display: flex; */
  align-items: center;
  margin-left: 40%;
  margin-right: 50%;
  font-family: cursive;
}

h2 {
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 40%;
  font-family: cursive;
}

/* .btn {
  margin-left: -60%;
  align-items: center;
  display: flex;
  margin: 20px 0px 20px 0px;
} */

.nav-link {
  font-size: 20px;
  font-style: oblique;
  color: rgb(15, 15, 15);
  font-family: cursive;
}

h3 {
  font-size: 35px;
  color: rgb(6, 7, 7);
  display: flex;
  text-align: center;
  margin-left: px;
  margin-right: 400px;
  font-family: cursive;
}

/* #css{
  font-style: italic;
  text-align: center;
  font-size: 35px;
  margin-left:-10px;
  font-family: cursive;
  color: rgb(20, 18, 20);
} */
h5 {
  font-family: monospace;
  margin-left:-400px;
}
.card {
  display: flex;
  margin-left:90px;

  
}



col mb-4{
  margin-left:200px;
}

.card-body {
  align-items: center;
  font-size: large;
  
}
card-title{
  margin-left:50%;
}

form{
  align-items:center;
  margin-left:500px;
}

footer{
  align-items: center;
  margin-left:600px;
}


/* #cardDeck {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  flex-direction: row !important;
} */
